<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div ng-show="ticket.dirty">
                <div class="row">
                    <div class="col-md-8">
                        <h4>Finalize Ticket</h4>
                        <p ng-hide="ticket.id">
                            Ticket has <span class="text-danger">not been created</span>, yet. You must escalate or resolve the ticket. If you need to edit anything, select the tab above.
                        </p>
                        <p ng-show="ticket.id">
                            Changes have <span class="text-danger">not been saved</span>, yet. You must escalate or resolve the ticket. If you need to edit anything, select the tab above.
                        </p>
                    </div>

                    <div class="col-md-4 text-right">
                        <button class="btn btn-warning" ng-click="escalate()" ng-disabled="saving">Escalate</button>
                        <button class="btn btn-success" ng-click="resolve()" ng-disabled="saving">Resolve</button>
                    </div>
                </div>

            </div>

            <div ng-hide="ticket.dirty">
                <div class="row">
                    <div class="col-md-8">
                        <h4>Ticket has been created</h4>
                        <p>Re-open the ticket to change any of the information.</p>
                        <p>Start over to begin helping a new voter.</p>
                        <div>
                            <button class="btn btn-warning" ng-click="reopen()">Re-open</button>
                            <button class="btn btn-success" ng-click="startOver()">Start Over</button>
                        </div>
                    </div>

                    <div class="col-md-4 text-right">
                        <button class="btn btn-link" ng-click="newTicketWithThisNumber()">
                                Start a new ticket with this phone number
                            </button>
                        <div class="form-group" ng-show="ticketsForPhoneNumber.length > 1">
                            <label>Switch tickets for this phone number</label>
                            <select class="form-control input-sm"
                                    ng-model="selectedTicket"
                                    ng-options="ticketLabel(t) for t in ticketsForPhoneNumber"
                                    ng-change="switchTicket()"
                                    ng-disabled="loadingTicket"></select>
                            <div class="help-block" ng-show="loadingTicket">
                                Loading Ticket
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row top-20">
                <div class="col-xs-12 col-md-4">
                    
                    <h4 class="top-20">{{ ticket.firstName }} {{ ticket.lastName }}</h4>
                    <div class="text-danger" ng-hide="ticket.firstName || ticket.lastName">
                        Name not entered
                    </div>

                    <h4 class="top-20">Phone Number</h4>
                    <div>{{ ticket.phoneNumber }}</div>
                    <div class="text-danger" ng-hide="ticket.phoneNumber">
                        Phone number not entered
                    </div>

                    <h4 class="top-20">Address</h4>
                    <div ng-show="ticket.state">
                        <div>{{ ticket.address }}</div>
                        <div>{{ ticket.city }}, {{ ticket.state }} {{ ticket.zip }}</div>
                        <div ng-show="ticket.county">County: {{ ticket.county }}</div>
                    </div>
                    <div class="text-danger" ng-hide="ticket.state">
                        Address not entered
                    </div>

                    <h4 class="top-20">Additional Info</h4>
                    <div>
                        <label>Caller: </label>
                        {{ ticket.caller }}
                        <span class="text-muted" ng-hide="ticket.caller">None Selected</span>
                    </div>
                    <div>
                        <label>Race: </label>
                        <span ng-repeat="race in filteredRace = (ticket.race | filter:{Selected: true})">
                            {{ race.Description }}{{$last ? '' : ', '}}
                        </span>
                        <span class="text-muted" ng-hide="filteredRace.length">None Selected</span>
                    </div>
                    <div>
                        <label>Heard Through: </label>
                        <span ng-repeat="heardThrough in filteredHeardThrough = (ticket.heardThrough | filter:{Selected: true})">
                            {{ heardThrough.Description }}{{$last ? '' : ', '}}
                        </span>
                        <span class="text-muted" ng-hide="filteredHeardThrough.length">None Selected</span>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4">
                    <h4 class="top-20">Precinct</h4>
                    <div>{{ ticket.precinct }}</div>
                    <div class="text-danger" ng-hide="ticket.precinct">
                        Precinct not entered
                    </div>

                    <h4 class="top-20">Polling Place</h4>
                    <div>{{ ticket.pollingPlaceName }} <span class="label label-primary" ng-show="ticket.earlyVotingSite">Early Voting Site</span></div>
                    <div>
                        <div>{{ ticket.pollingPlaceAddress }}</div>
                    </div>
                    <div class="text-danger" ng-hide="ticket.pollingPlaceName || ticket.pollingPlaceAddress">
                        Polling place not entered
                    </div>
                </div>

                <div class="col-xs-12 col-md-4">
                    <div ng-show="ticket.id">
                        <h4 class="top-20">Ticket Number</h4>
                        <div>{{ ticket.id }}</div>
                    </div>

                    <h4 class="top-20">Status</h4>
                    <div>{{ ticket.status }}</div>
                    <div class="text-danger" ng-hide="ticket.status">Not Created</div>

                    <h4 class="top-20">Issue Type</h4>
                    <div ng-repeat="t in filteredType = (ticket.votingIssueType | filter:{Selected: true})">
                        {{ t.Description }}
                    </div>
                    <span class="text-danger" ng-hide="filteredType.length">None Selected</span>
                </div>
            </div>

            
            <div class="row top-20">
                <div class="col-xs-12">

                    <div class="form-group" ng-hide="ticket.id">
                        <label>Issue Details</label>
                        <textarea class="form-control" rows="5" ng-model="ticket.text" placeholder="{{ ticket.detailsPlaceHolder }}"></textarea>
                    </div>

                    <div ng-show="ticket.id">
                        <h4>Issue Details</h4>
                        <div>{{ ticket.text }}</div>
                        <div ng-repeat="attachment in ticket.attachments">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        {{ attachment.createdBy }} ({{ attachment.created }})
                                    </h5>
                                </div>
                                <div class="panel-body" ng-bind-html="attachment.text"></div>
                            </div>
                        </div>
                        <div class="text-danger" ng-hide="ticket.text || ticket.attachments">Not entered</div>

                        <hr/>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" ng-model="ticket.newComment"></textarea>
                        </div>
                        <button class="btn btn-primary pull-right" ng-click="addComment()">Add Comment</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>