<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <button class="btn btn-primary pull-right" ng-click="next()">Next</button>

            <h4>Issue Type</h4>

            <div class="checkbox" ng-repeat="t in ticket.votingIssueType">
                <label>
                    <input type="checkbox" ng-model="t.Selected"> {{ t.Description }}
                </label>
            </div>

            <hr/>

            <div class="form-group" ng-hide="ticket.id">
                <label>Issue Details</label>
                <textarea class="form-control" rows="5" ng-model="ticket.text" placeholder="{{ ticket.detailsPlaceHolder }}"></textarea>
                <div class="help-block">{{ ticket.detailsHelpBlock }}</div>
            </div>

            <div class="form-group" ng-show="ticket.id">
                <label>Add Comment</label>
                <textarea class="form-control" rows="5" ng-model="ticket.newComment"></textarea>
                <div class="help-block">{{ ticket.detailsHelpBlock }}</div>
            </div>

        </div>
    </div>
</div>