<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <button class="btn btn-primary pull-right" ng-click="next()" ng-disabled="!ticket.text && !ticket.id">Next</button>

            <h4>Describe the voter's issue</h4>
            <p>{{ ticket.detailsPlaceHolder }}</p>

            <div class="form-group" ng-hide="ticket.id">
                <textarea class="form-control" rows="10" ng-model="ticket.text" placeholder="{{ ticket.detailsPlaceHolder }}"></textarea>
                <div class="help-block">{{ ticket.detailsHelpBlock }}</div>
            </div>

            <div ng-repeat="attachment in ticket.attachments">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            {{ attachment.createdBy }} ({{ attachment.created }})
                        </h5>
                    </div>
                    <div class="panel-body" ng-bind-html="attachment.text"></div>
                </div>
            </div>

            <div ng-show="ticket.id">
                <hr/>
            </div>
            
            <div class="form-group" ng-show="ticket.id">
                <label>Add Comment</label>
                <textarea class="form-control" rows="10" ng-model="ticket.newComment"></textarea>
                <div class="help-block">{{ ticket.detailsHelpBlock }}</div>
            </div>

        </div>
    </div>
</div>