body {
  padding-top: 50px;
  padding-bottom: 20px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.top-20 { margin-top:20px; }
.bottom-20 { margin-bottom:20px; }

.alert-wrapper {
  position: fixed;
  top: 70px;
  width: inherit;
  z-index: 1000;
}

.alert-wrapper .alert {
  white-space: pre-line;
  width: 100%;
}

.alert-wrapper button {
  position: relative;
  top: 10px;
  right: 10px;
}