<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h4>Find a ticket by phone number, or create a new one.</h4>
            <p>Enter the phone number of the person currently calling you.</p>
            <p>If this number already has a ticket associated with it, you can update the ticket with the information for this call.</p>
            <p>If there is no ticket already associated with this number, the system will create a new ticket for you.</p>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form ng-submit="findCreateTicket()">
                <div class="form-group" ng-class="{'has-error': invalidPhoneNumber}">
                    <input type="text" class="form-control" ng-model="phoneNumber" placeholder="Phone Number"/>
                    <span class="help-block" ng-show="invalidPhoneNumber">Invalid Phone Number</span>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Find or Create Ticket</button>
            </form>
            <button class="btn btn-link btn-block" ng-click="createTicketWithoutPhoneNumber()">
                Cannot Get Phone Number
            </button>
        </div>
    </div>
  </div>
</div>
</div>