<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <button class="btn btn-primary pull-right" ng-click="next()">Next</button>
            
            <h4>Ask the voter for some final information</h4>

            <div class="row">
                <div class="col-sm-4">
                    <h5>Caller</h5>
                    <div class="radio" ng-repeat="c in ticket.callerOptions">
                        <label>
                            <input type="radio" name="caller" ng-value="c.Name" ng-model="ticket.caller"> {{ c.Description }}
                        </label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <h5>Race</h5>
                    <div class="checkbox" ng-repeat="r in ticket.race">
                        <label>
                            <input type="checkbox" ng-model="r.Selected"> {{ r.Description }}
                        </label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <h5>Heard Through</h5>
                    <div class="checkbox" ng-repeat="h in ticket.heardThrough">
                        <label>
                            <input type="checkbox" ng-model="h.Selected"> {{ h.Description }}
                        </label>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="form-group" ng-hide="ticket.id">
                <label>Issue Details</label>
                <textarea class="form-control" rows="5" ng-model="ticket.text" placeholder="{{ ticket.detailsPlaceHolder }}"></textarea>
                <div class="help-block">{{ ticket.detailsHelpBlock }}</div>
            </div>

            <div class="form-group" ng-show="ticket.id">
                <label>Add Comment</label>
                <textarea class="form-control" rows="5" ng-model="ticket.newComment"></textarea>
                <div class="help-block">{{ ticket.detailsHelpBlock }}</div>
            </div>

        </div>
    </div>
</div>