<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="ovl" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="ovl" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="ovl" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="ovl" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Our Vote Live</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/ovl.css">

  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>
  <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-controller="NavCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Our Vote Live</a>

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-bar-user-form" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="nav-bar-user-form">
          <form class="navbar-form navbar-right ng-cloak">
            <div class="form-group">
              <div class="input-group" ng-show="user.name">
                <input type="text" class="form-control" value="{{ user.name }}" disabled="disabled">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" ng-click="clearUser()">Not You?</button>
                </span>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" value="{{ user.username }}" disabled="disabled">
                <span class="input-group-btn">
                  <button class="btn btn-danger" type="button" ng-click="logout()">Logout</button>
                </span>
              </div>
            </div>
          </form>
        </div>

      </div>
    </nav>

    <div class="row ng-cloak">
      <div class="col-md-6 col-md-offset-3">
        <div class="alert-wrapper" ng-show="alert.show">
          <button type="button" class="close" ng-click="alert.show=false"><span aria-hidden="true">&times;</span></button>
          <div class="alert text-center" ng-class="alert.type" role="alert">{{ alert.message }}</div>
        </div>

        <div class="alert-wrapper" ng-show="alert.autoLogout">
          <div class="alert alert-warning text-center" role="alert">
            <h4>Hello? Are you there?</h4>
            <div><a href="javascript:void(0);" ng-click="userIsHere()">Yes, I'm here!</a></div>
          </div>
        </div>
      </div>
    </div>
    
    <nav aria-label="Page navigation" class="text-center ng-cloak" ng-show="user.name">
      <ul class="pagination">
        <li ng-class="{active: page === 'findCreate', disabled: !ticket.dirty}">
          <a href="#!/findCreate">Start<span ng-hide="page === 'findCreate'"> Over</span></a>
        </li>
        <li ng-class="{active: page === 'voter', disabled: !ticket.dirty || !ticket.phoneNumber}">
          <a href="#!/voter">Voter Info</a>
        </li>
        <li ng-class="{active: page === 'pollingplace', disabled: !ticket.dirty || !ticket.phoneNumber}">
          <a href="#!/pollingplace">Polling Place</a>
        </li>
        <li ng-class="{active: page === 'details', disabled: !ticket.dirty || !ticket.phoneNumber}">
          <a href="#!/details">Details</a>
        </li>
        <li ng-class="{active: page === 'issueType', disabled: !ticket.dirty || !ticket.phoneNumber}">
          <a href="#!/issueType">Issue Type</a>
        </li>
        <li ng-class="{active: page === 'additional', disabled: !ticket.dirty || !ticket.phoneNumber}">
          <a href="#!/additional">Additional Info</a>
        </li>
        <li ng-class="{active: page === 'finalize', disabled: !ticket.phoneNumber}">
          <a href="#!/finalize">Finalize</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="container">
    <div ng-view></div>
  </div> <!-- /container -->        
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
  <script src="js/vendor/bootstrap.min.js"></script>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.min.js"></script>

  <!-- Get generated scripts from OVL server --> 
  <script type="text/javascript" src="/OVL/js/JavascriptConfig.js"></script>
  <script>window.RT || document.write('<script src="js/JavascriptConfig.js"><\/script>')</script>
  <script type="text/javascript" src="/static/esri_token.js"></script>
  
  <!-- Load local scripts -->
  <script type="text/javascript" src="js/TicketConfig.js"></script>
  <script type="text/javascript" src="js/ovl.min.js?v=3"></script>
  <!-- Individual Files. Use these if you don't use Grunt
  <script src="app/ovl.js"></script>
  <script src="app/login/login.js"></script>
  <script src="app/findCreate/findCreate.js"></script>
  <script src="app/voter/voter.js"></script>
  <script src="app/pollingplace/pollingplace.js"></script>
  <script src="app/details/details.js"></script>
  <script src="app/issueType/issueType.js"></script>
  <script src="app/additional/additional.js"></script>
  <script src="app/finalize/finalize.js"></script>
  -->
</body>
</html>
