<style>
    .form-signin {
        max-width: 400px;
        padding: 15px;
        margin: 0 auto;
    }
</style>

<form class="form-signin" ng-submit="submit()">
    <h2 class="form-signin-heading">Welcome to Our Vote Live</h2>
    <div>You're about to help some voters.</div>

    <div class="form-group">
        <label for="inputName" class="sr-only">Full Name</label>
        <input type="text" ng-model="userName" id="inputName" class="form-control input-lg" placeholder="Full Name" required="" autofocus="">
    </div>

    <div class="form-group">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" ng-model="userEmail" id="inputEmail" class="form-control input-lg" placeholder="Email address" required="" autofocus="">
    </div>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
