<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <button class="btn btn-primary pull-right" ng-click="next()">Next</button>

            <h4>Enter the voter's polling place</h4>

            <div class="form-group">
                <label for="inputName">Precinct</label>
                <input type="text" class="form-control" ng-model="ticket.precinct" placeholder="Precinct">
                <a href="javscript:void(0)" ng-click="lookupPrecinct()" ng-hide="gettingPrecinct">Lookup Precinct</a>
                <span class="text-warning" ng-hide="ticket.address">You must enter the voter's address for lookup to work</span>
                <span class="help-block" ng-show="gettingPrecinct">Getting Precinct</span>
            </div>

            <div class="form-group">
                <label for="inputName">Polling Place Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="ticket.pollingPlaceName" placeholder="Polling Place Name">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="ticket.earlyVotingSite"> Early Voting Site
                    </span>
                </div>
                <span class="help-block">{{ pollingHours }}</span>
                <span class="help-block">{{ pollingPlaceNotes }}</span>
                <a href="javscript:void(0)" ng-click="lookupPollingPlace()" ng-hide="gettingPollingPlace">Lookup Polling Place</a>
                <span class="text-warning" ng-hide="ticket.address">You must enter the voter's address for lookup to work</span>
                <span class="help-block" ng-show="gettingPollingPlace">Getting Polling Place</span>
            </div>

            <form ng-submit="lookupAddress()">
                <div class="form-group">
                    <label for="inputName">Polling Place Address</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="address" placeholder="Street, City, State, Zip">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Save</button>
                        </span>
                    </div>
                    <p class="help-block" ng-show="geocoding">Confirming address</p>
                    <p class="help-block" ng-hide="geocoding">Use abbreviations for street type, i.e. "123 Main St" instead of "123 Main Street".</p>
                    <p class="help-block" ng-hide="geocoding">If a street address is not provided, just enter the City/County and State.</p>
                </div>
            </form>

            <div class="form-group" ng-show="ticket.pollingPlaceAddress">
                <div>
                    <label for="inputName">Corrected Polling Place Address</label>
                    <button class="btn btn-link"
                            ng-hide="ticket.pollingPlaceAddress===address"
                            ng-click="ticket.pollingPlaceAddress=address">That's not right</button>
                </div>
                <div>{{ ticket.pollingPlaceAddress }}</div>
            </div>

            <hr/>

            <div class="form-group" ng-hide="ticket.id">
                <label>Issue Details</label>
                <textarea class="form-control" rows="5" ng-model="ticket.text" placeholder="{{ ticket.detailsPlaceHolder }}"></textarea>
                <div class="help-block">{{ ticket.detailsHelpBlock }}</div>
            </div>

            <div class="form-group" ng-show="ticket.id">
                <label>Add Comment</label>
                <textarea class="form-control" rows="5" ng-model="ticket.newComment"></textarea>
                <div class="help-block">{{ ticket.detailsHelpBlock }}</div>
            </div>

        </div>
    </div>
</div>