<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <button class="btn btn-primary pull-right" ng-click="next()" ng-disabled="!ticket.state">Next</button>

            <h4>Create a ticket for this voter</h4>
            <p class="bottom-20">There's no ticket attached to that phone number yet. Create a new one.</p>

            <div class="form-group">
                <label for="inputName">Voter's Phone Number</label>
                <input type="text" class="form-control" ng-model="ticket.phoneNumber" ng-change="changePhoneNumber()" placeholder="Phone Number">
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputName">Voter's First Name</label>
                        <input type="text" class="form-control" ng-model="ticket.firstName" placeholder="First Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputName">Voter's Last Name</label>
                        <input type="text" class="form-control" ng-model="ticket.lastName" placeholder="Last Name">
                    </div>
                </div>
            </div>

            <form ng-submit="lookupAddress()">
                <div class="form-group">
                    <label for="inputName">Voter's Address</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="address" placeholder="Street, City, State, Zip">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Save</button>
                        </span>
                    </div>
                    <p class="help-block" ng-show="geocoding">Confirming address</p>
                    <p class="help-block" ng-hide="geocoding">Use abbreviations for street type, i.e. "123 Main St" instead of "123 Main Street".</p>
                    <p class="help-block" ng-hide="geocoding">If a street address is not provided, just enter the City/County and State.</p>
                </div>
            </form>

            <div class="form-group" ng-show="ticket.state && !manualAddress">
                <div>
                    <label for="inputName">Corrected Address</label>
                    <button class="btn btn-link" ng-click="manualAddress=true; ticket.latitude=null; ticket.longitude=null;">That's not right</button>
                </div>
                <div>{{ ticket.address }}</div>
                <div>{{ ticket.city }}, {{ ticket.state }} {{ ticket.zip }}</div>
                <div ng-show="ticket.county">County: {{ ticket.county }}</div>
            </div>

            <div class="form-group" ng-show="manualAddress" ng-init="manualAddress=false">
                <div>
                    <label for="inputName">Corrected Address</label>
                    <button class="btn btn-link" ng-click="manualAddress=false">Done</button>
                </div>
                <div><input type="text" ng-model="ticket.address" placeholder="Street"></div>
                <div><input type="text" ng-model="ticket.city" placeholder="City">, <input type="text" ng-model="ticket.state" placeholder="State"> <input type="text" ng-model="ticket.zip" placeholder="ZipCode"></div>
                <div>County: <input type="text" ng-model="ticket.county" placeholder="County"></div>
            </div>

            <div ng-hide="ticket.id">
                <hr/>

                <h4>Quick Ticket</h4>
                <p class="bottom-20">Common ticket? Create it now. It will be categorized and marked as Resolved. You will be able to re-open it if you need to add or change details.</p>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" ng-click="createRegistrationTicket()" ng-disabled="creatingTicket">
                                Create Registration Ticket
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" ng-click="createPollingPlaceTicket()" ng-disabled="creatingTicket">
                                Create Polling Place Ticket
                            </button>
                            <p class="help-block">If you've entered the voter's address, their polling place will be looked up and shown on the next page.</p>
                        </div>
                    </div>
                </div>
                <p class="help-block" ng-show="creatingTicket">Creating Ticket</p>
            </div>

            <hr/>

            <div class="form-group" ng-hide="ticket.id">
                <label>Issue Details</label>
                <textarea class="form-control" rows="5" ng-model="ticket.text" placeholder="{{ ticket.detailsPlaceHolder }}"></textarea>
                <div class="help-block">{{ ticket.detailsHelpBlock }}</div>
            </div>

            <div class="form-group" ng-show="ticket.id">
                <label>Add Comment</label>
                <textarea class="form-control" rows="5" ng-model="ticket.newComment"></textarea>
                <div class="help-block">{{ ticket.detailsHelpBlock }}</div>
            </div>

        </div>
    </div>
</div>